<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-app-thumbnail tooltip="Transforme une image d'un text en text.
      Cette application basée sur le deep learning est née de la frustration provoquée par certain blogs de programmation qui utilisent des screenshots de snippet."
                               title="Img2txt"
                               imagePath="../../assets/img2txt.jpg"
                               routerPath=img2text></app-app-thumbnail>
        </div>
        <div class="col-sm-6">
            <app-app-thumbnail tooltip="Donne un score emotionnel (positif ou négatif) à un text anglais. Basé sur un model de deep learning."
                               title="Sentiment Analysis"
                               imagePath="../../assets/sentimentAnalysis.png"
                               routerPath=sentimentAnalysis></app-app-thumbnail>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-app-thumbnail tooltip="Transforme une image d'un text en text.
              Cette application basée sur le deep learning est née de la frustration provoquée par certain blogs de programmation qui utilisent des screenshots de snippet."
                               title=FontFinder
                               imagePath="../../assets/font-search.png"
                               routerPath=fontFinder></app-app-thumbnail>
        </div>
    </div>
</div>
