<nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand"
       href="#"><img class=logo
             src="../assets/logo.png"
             alt=""></a>
    <div class="collapse navbar-collapse"
         id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item"
               routerLinkActive="active"
               routerLink="/home">
                ACCUEIL
            </a>
            <a class="nav-item"
               routerLinkActive="active"
               routerLink="/portfolio">
                PORTFOLIO
            </a>
            <a class="nav-item"
               routerLinkActive="active"
               routerLink="/sources">
                SOURCES
            </a>
            <a class="nav-item"
               routerLinkActive="active"
               routerLink="/myCV">
                MON CV
            </a>
        </div>
    </div>
</nav>
<!--Navbar-->



<!-- <nav class="navbar2 navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Ce site a été fait en Angular, son code source, ainsi que celui de chacun des
    projets présentés sont accessibles dans la partie "sources"</span>
    </nav> -->

<router-outlet></router-outlet>
