.card {
  cursor: pointer;
  padding: 0px;
  .header {
    background-color: #0086C1 !important;
    place-content: center;
    .title {
      margin-top: 2px;
      margin-bottom: 4px;
      text-align: center;
      color: white;
    }
  }

  .image {
    width: 100%;
    height: -webkit-fill-available;
  }
}

.card:hover {
  padding: 5px;
  background-color: lightgray;
}
