.dropzone {
  flex-flow: column;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  justify-content: space-evenly;
}
.col {
  overflow: auto;
}

.row {
  height: 40em;
  box-sizing: border-box;
}

.container {
  height: 50%;
  box-sizing: border-box;
}
::shadow .preview {
  min-width: unset !important;
  max-width: unset !important;
  max-height: 40em;
  width: 100% !important;
  height: 100% !important;
}

.result {
  height: 100%;
  background-color: whitesmoke;
}

.instructions{
  text-align: center;
}
