<div class="background">
  <div class="container">
    <div class="row d-xl-none">
      <p class="myName">Florent Dravet</p>
      <p class="myJob"> Data Scientist</p>
    </div>
  </div>
  <div class="row d-xl-none">
    <mat-card class="image-card">
      <div class="image-container"></div>
    </mat-card>
  </div>
  <div class="row d-none d-xl-flex">
    <div class="col-1"></div>
    <div class="col-3">
      <mat-card class="image-card">
        <div class="image-container"></div>
      </mat-card>
    </div>
    <div class="col-8">
      <p class=myName>Florent Dravet</p>
      <p class=myJob> Data Scientist</p>
    </div>
  </div>
</div>
