


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-app-thumbnail class="" tooltip="Transforme une image d'un text en text.
      Cette application basée sur le deep learning est née de la frustration provoquée par certain blogs de programmation qui utilise des screenshots de snippet."
       title=img2txt imagePath="../../assets/img2txt.jpg" routerPath=img2text></app-app-thumbnail>
    </div>
    <div class="col-md-6">
      <app-app-thumbnail class="" tooltip="Donne un score emotionnel (positif ou négatif) à un text anglais. Basé sur un model de deep learning."
       title=sentimentAnalysis imagePath="../../assets/sentimentAnalysis.png"></app-app-thumbnail>
    </div>
  </div>
</div>
